.App {
  text-align: center;
  font-weight: Bold;
  font-size: 18px;
  font-family: 'Trebuchet MS', sans-serif;
}

.App-header {
background-color: #282c34;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: white;
}

.App-link {
color: #61dafb;
}

.row {
  display: flex;
}

.col {
  flex: 1;

  padding: 1em;
  border: solid;
  border-style: dashed solid;
  border-color: darkcyan;
}

.input-container {
  flex: 1;

  padding: 1em;
  border: solid;
  border-style: dashed solid;
  border-color: darkcyan;
}

.input-steps input {
  width: 80%;
  height: 150px;
  margin-left: 0;
  box-sizing: border-box;

  padding: 0.4em 0.4em 0.4em 0;

}